doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="application/javascript", src="javascripts/jquery-1.11.0.min.js")
    script(type="application/javascript", src="javascripts/main.js")
    base(href= hostname)
  body
    block content